.App {
	background-color: rgba(255, 255, 255, 0.924);
	text-align: center;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 150px 100px auto;
	grid-template-areas:
		"header"
		"nav"
		"content";
}



@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

.header {
	background: linear-gradient(-80deg, #84CEEB, #5AB9EA, #c1c8e4, #8860d0);
	background-size: 400% 400%;
	animation: gradient 5s ease infinite;
	grid-area: header;
	border: 2px solid orangered;
}

.title {
	font-size: xx-large;
	font-family: Coda, sans-serif;
	font-style:

}

.loggedInUser {
	border: 2px solid springgreen;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.navbar {
	font-family: Coda, sans-serif;
	font-size: larger;
	color: white;
	grid-area: nav;
	border: 2px solid rgb(248, 4, 236);
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.sortBy {
	grid-area: sortBy;
	border: 2px solid rgb(0, 234, 255);
}

.content {
	grid-area: content;
	border: 2px solid red;

}

.articles {

	border: 2px solid rgb(162, 12, 248);
	padding: 5px;
}

.articleCard {
	border: 2px solid rgb(162, 12, 248);
	padding: 5px;
}

.singleArticle {
	background-color: rgb(184, 219, 251);
	border: 5px solid rgb(255, 255, 255);

	text-align: left;
	padding: 20px;

}

.singleArticleVote {
	border: 2px solid sienna;
	display: flex;
	flex-direction: row;
	justify-content: center;




}

.comments {
	border: 2px solid black;
	padding: 10px;

}

.commentCard {
	background-color: rgb(184, 219, 251);
	border: 5px solid rgb(255, 255, 255);
	padding: 10px;

}

.commentAdder {
	border: 2px solid rgb(15, 95, 12);
	padding: 10px;
}

.commentAdderInput {
	min-height: 100px;


}