.App {
	width: 100%;
	background-color: rgb(194, 222, 248);
	text-align: center;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 150px 100px auto;
	grid-template-areas:
		"header"
		"nav"
		"content";

}

@media only screen and (min-width: 400px) {
	.articleCard {
		width: 50%;
		display: flex;
		flex-direction: column;
		align-self: center;
	}

	.articles {
		display: flex;
		flex-direction: column;
		align-content: center;
	}
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

.header {
	background: linear-gradient(-80deg, #84CEEB, #5AB9EA, #c1c8e4, #8860d0);
	background-size: 400% 400%;
	animation: gradient 5s ease infinite;
	grid-area: header;
	padding: 10px;
}

.title {
	font-size: xx-large;
	font-family: Coda, sans-serif;

}

.loggedInUser {

	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.navbar {
	font-family: Coda, sans-serif;
	font-size: larger;
	color: white;
	grid-area: nav;

	display: flex;
	flex-direction: row;
	justify-content: space-around;

}

.mainLinks {
	display: flex;
	flex-direction: row;
	align-self: center;
}

.sortBy {
	grid-area: sortBy;

}

.content {
	grid-area: content;


}

.articles {


	padding: 5px;
}

.articleCard {
	background-color: rgb(184, 219, 251);
	border: 5px solid rgb(255, 255, 255);

	padding: 5px;
}

.singleArticle {
	background-color: rgb(184, 219, 251);
	border: 5px solid rgb(255, 255, 255);

	text-align: left;
	padding: 20px;

}

.singleArticleVote {

	background: linear-gradient(-80deg, #84CEEB, #5AB9EA, #c1c8e4, #8860d0);
	background-size: 400% 400%;
	animation: gradient 5s ease infinite;
	display: flex;
	flex-direction: row;
	justify-content: center;




}

.comments {

	padding: 10px;

}

.commentCard {
	background-color: rgb(184, 219, 251);
	border: 5px solid rgb(255, 255, 255);
	padding: 10px;

}

.commentAdder {

	padding: 10px;
}

.commentAdderInput {
	min-height: 100px;


}

.topics {
	display: flex;
	flex-direction: column;
	align-content: center;
}