.App {
	text-align: center;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 150px 100px auto;
	grid-template-areas:
		"header"
		"nav"
		"content";
}

.header {
	grid-area: header;
	border: 2px solid orangered;
}

#loggedInUser {
	border: 2px solid springgreen;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.navbar {
	grid-area: nav;
	border: 2px solid rgb(248, 4, 236);
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.sortBy {
	grid-area: sortBy;
	border: 2px solid rgb(0, 234, 255);
}

.content {
	grid-area: content;
	border: 2px solid red;

}

.articles {

	border: 2px solid rgb(162, 12, 248);
	padding: 5px;
}

.articleCard {
	border: 2px solid rgb(162, 12, 248);
	padding: 5px;
}

.singleArticle {
	border: 2px solid rgb(241, 16, 16);
	text-align: left;
	padding: 10px;

}

.singleArticleVote {
	border: 2px solid sienna;
	display: flex;
	flex-direction: row;
	justify-content: center;




}

.comments {
	border: 2px solid black;

}

.commentCard {
	border: 2px solid cornflowerblue;
	padding: 10px;

}